@font-face {
  font-family: 'DancingScript';
  src: url('DancingScript-Regular.otf');
}

body{
  background-color: #02010a;
  font-family: 'DancingScript';
}

#contenido{
  margin: auto;
  width: 900px;
}

/* HEADER SETTINGS */

header{
  width: 100%;
  height: 60px;
  background-color: #5b7989;
  color: white;
  border-radius: 10px 10px 0px 0px;
  -moz-border-radius: 10px 10px 0px 0px;
  -webkit-border-radius: 10px 10px 0px 0px;
  animation: slideIn 1s;
}

@-webkit-keyframes slideIn{
  0%{
    margin-top: 150%;
  }

  60%{
    margin-top: -5%;
  }

  100%{
    margin-top: 0%;
  }
}

header h1{
  font-size: 2em;
  text-shadow: 2px 2px #02010a;
  height: 90%;
  float: left;
  padding: 0.5% 2%;
  margin: 0;
}

header nav{
  float: right;
}

ul.menunav {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    width: 100%;
}

ul.menunav li a {
    display: block;
    color: inherit;
    text-align: center;
    padding: 14px 16px;
}

ul.menunav li a.active {text-decoration: none;}
ul.menunav li {float: left; width: 33.3%;}

/* IMAGES SETTINGS */

img{
  box-shadow: 2px 2px #02010a;
}

#principalPicture{
  background-color:  #82c3a6;
  width: 100%;
  padding-top: 2%;
  padding-bottom: 2%;
}

#principalPicture img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

.secondaryPictureContainer{
  background-color: #d5c75f;
  border: 1px solid;
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
}

.secondaryPictureItem{
  width: 50%;
  padding-top: 1em;
  padding-bottom: 1em;
}

.secondaryPictureItem img{
  display: block;
  margin: auto;
  width: 60%;
}

#secondaryPictureLeft, #secondaryPictureRight{
  transition: transform 2s;
}

#secondaryPictureLeft:hover{
  transform: rotate(10deg);
}

#secondaryPictureRight:hover{
  transform: translate(20px, -5px);
}

/* GALERY SETTINGS */

.galeryContainer{
  background-color: #d5c75f;
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
}

div [class*="galeryItem"]{
  width: 25%;
  margin: 2em;
}

div [class*="galeryItem"] img{
  width: 100%;
}

.galeryItem1 img{
    -webkit-filter: blur(10px);
    filter: blur(10px);
}

div [class*="galeryItem"]:nth-child(even) img{
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.galeryItem3 img{
    -webkit-filter: sepia(90%);
    filter: sepia(90%);
}

/* FOOTER SETTINGS */

footer{
  background-color: #C6d5c5;
  border-radius: 0px 0px 10px 10px;
  -moz-border-radius: 0px 0px 10px 10px;
  -webkit-border-radius: 0px 0px 10px 10px;
}

.footerContainer{
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
}

.footerItem{
  padding: 2em;
  width: 33.3%;
}

.footerItem h3, .footerItem p{
  display: block;
  margin: auto;
}

/* MOBILE SETTINGS */

@media screen and (max-width: 900px){

    #contenido{
      width: 100% !important;
    }

    header{
      height: 120px;
    }

    header h1{
      font-size: 1.5em;
      text-align: center;
      height: 30%;
      float: none;
    }

    header nav{
      float: none;
    }

    .footerContainer{
      flex-flow: column nowrap !important;
    }

    .footerItem{
      width: 100% !important;
      font-size: 1.5em;
    }

    .secondaryPictureContainer{
      flex-flow: column nowrap !important;
    }

    .secondaryPictureItem{
      width: 100% !important;
    }

    .galeryContainer{
      flex-flow: column nowrap !important;
    }

    div [class*="galeryItem"]{
      width: 90%;
      margin: 1em;
    }
}
